# Игнорируем виртуальное окружение
venv/
__pycache__/

# Игнорируем системные файлы и папки
.DS_Store
Thumbs.db

# Игнорируем конфигурационные файлы с чувствительными данными
config.py
token.txt

# Игнорируем файлы, созданные IDE (например, PyCharm, VSCode и другие)
.idea/
.vscode/
*.iml

# Игнорируем файлы сборки
*.pyc
*.pyo
*.pyd

# Игнорируем файлы базы данных
*.sqlite3

# Игнорируем лог-файлы
*.log

# Игнорируем требования и настройки проекта, если их не нужно отслеживать
*.env

# Игнорируем файлы базы данных
checkup.db